<?xml version="1.0"?>
<launch>

  <node name="ardupilot2ros_node" pkg="ardupilot2ros" type="ardupilot2ros_node" output="screen" respawn="true">
    <rosparam command="load" file="$(find ardupilot2ros)/config/warthog_cpr_sim.yaml"/>
  </node>

  <!-- /vel emulation -->
  <node name="vel" pkg="topic_tools" type="transform"
     args="/navsat/vel 
     /vel 
     geometry_msgs/TwistStamped 
     geometry_msgs.msg.TwistStamped(header=m.header,twist=geometry_msgs.msg.Twist(linear=geometry_msgs.msg.Vector3(m.vector.x,m.vector.y,m.vector.z),angular=geometry_msgs.msg.Vector3())) 
     --import geometry_msgs std_msgs rospy"
     respawn="true"/>

</launch>
